# Ignore node_modules directory
node_modules/

# Ignore .env files
.env
.env.local
.env.development
.env.production

# Ignore log files
*.log

# Ignore build directories
build/
dist/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore npm/yarn cache
.npm
.yarn
.yarnrc